<h3>Nova Mensagem</h3>
<hr class="divider">

<%= form_tag messages_path, method: :post do %>
  <div class="form-group">
    <%= label_tag 'message[subject]', 'Assunto' %>
    <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= label_tag 'message[body]', 'Mensagem' %>
    <%= text_area_tag 'message[body]', nil, rows: 5, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= label_tag 'recipients', 'Escolha os destinatários' %>
    <%= select_tag 'recipients', recipients_options(@chosen_recipient), multiple: true, class: 'form-control chosen-it'%>
  </div>

  <br>

  <%= submit_tag 'Enviar Mensagem', class: 'btn btn-primary' %>
  <%= link_to 'Voltar', conversations_path, class:'btn btn-primary pull-right' %>
  
<% end %>