<nav class="grey lighten-5">
  <div class="container">
    <div class="nav-wrapper">
      <% if current_user.present? %>
        <% if current_user.profile_id == 1 %>
          <%= link_to 'SAP', '/member', class:'brand-logo', style:'color: #757575' %>
        <% else %>
          <%= link_to 'SAP', '/admin', class:'brand-logo', style:'color: #757575' %>
        <% end %>
      <% else %>
        <%= link_to 'SAP', '/', class:'brand-logo', style:'color: #757575' %>
      <% end %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user.present? %>
          <span style="color: #1e88e5">Olá, <%= current_user.name %></span>
          <li class="right"><%= link_to 'Sair', '/logout' %></li>
        <% else %>
          <li><a href="/users/sign_in">Login</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>