<!DOCTYPE html>
<html>
<head>
  <title>SAP - CJR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav class="grey lighten-5">
      <div class="container">
        <div class="nav-wrapper">
          <%= link_to 'SAP', '/', class:'brand-logo', style:'color: #757575' %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if current_user.present? %>
              <span style="color: #1e88e5">Olá, <%= current_user.name %></span>
              <li class="right"><%= link_to 'Sair', '/logout' %></li>
            <% else %>
              <li><a href="/users/sign_in">Login</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div id="content" class="container z-depth-1">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </main>

  <footer class="z-depth-2 grey lighten-4">
    <div class="container">
      <p class="left">2015 © Sistema de Acompanhamento de Projetos</p>
      <p class="right"><a class="grey-text text-darken-1 right" href="http://www.cjr.org.br">Empresa Júnior de Computação - CJR</a></p>
    </div>
  </footer>

  <script type="text/javascript" src="javascripts/materialize.min.js"></script>
</body>
</html>