<!DOCTYPE html>
<html>
<head>
  <title>SAP - CJR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <%= render 'layouts/header' %>
  </header>

  <main role="main">
    <div id="content" class="container z-depth-1">
      <div class="row">
        <%= render 'layouts/alert' %>
        <%= yield %>
      </div>
    </div>
  </main>

  <footer class="z-depth-2 grey lighten-4">
    <%= render 'layouts/footer' %>
  </footer>

  <script type="text/javascript" src="javascripts/materialize.min.js"></script>
  
</body>
</html>